:root{
    --darkBlue1: #334b58;
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    background-color: var(--darkBlue1) ;
}


form {
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
}